
.main-container {
  background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;

}

nav a {
	background-color: blue;
}


.header-container, .footer-container {
    background: #002d6f;
}
.main aside {
    border: 4px dashed #0044a0;
    background-color: rgba(0, 45, 111, 0.68);
}

.header-container {
    border-bottom: 12px solid #f00;
    border-top: 12px solid #f00;
}

.footer-container, .main aside {
    border-top: 12px solid #f00;
    border-bottom: 12px solid #f00;
}

nav a{
	background-color: #f00;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
}

nav ul {
    width: 40%;
    margin: auto;
}
aside h3 {
    color: white;
}
aside p {
    color: white;
}
@media only screen and (min-width: 768px){
.title {
	    float: initial;
    	text-align: center;
    	border-bottom: 4px dotted #f00;
    	padding-bottom: 2%;
}

nav {
    float: initial;
    width: 100%;
}


.main aside {
    float: left;
    width: 20%;
}


.main article {
    float: right;
    width: 60%;
}
.main-container .wrapper{
	width: 90%
}
.main aside {
    background: none;
    color: black;
    box-shadow: none;
    border: 4px dashed #0044a0;
    background-color: rgba(0, 45, 111, 0.68);
    margin-top: 65px;
}
aside {
    text-align: center;
}
section {
    float: left;
    width: 50%;
}
header h1 {
    text-align: center;
}
footer h3 {
    text-align: center;
}
}